services:
  - type: web
    name: BonziWORLD-Revived-Plus-web
    env: node
    region: oregon
    plan: free
    branch: main
    buildCommand: npm install
    startCommand: node server/index.js
    healthCheckPath: /health
    envVars:
      - key: NODE_ENV
        value: production