services:
  - type: web
    name: BonziWORLD-Revived-Plus-web
    env: node
    region: oregon
    plan: free
    branch: main
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production